<sm-modal title="Hoang Long Hotel - 40 Hau Giang Street, Ward 4, Tan Binh District, HCMC, VN" #orderModal>
  <modal-content>
    <h2 class="ui center aligned icon header">
      <i class="money icon"></i> Hóa Đơn Tạm Tính
    </h2>
    <div class="ui large header">Thông Tin Khách Hàng:</div>
    <p>Tên: {{ (customer | async)?.firstName }} {{ (customer | async)?.lastName }}</p>
    <p>Địa Chỉ: {{ (customer | async)?.streetAddress }} - {{ (customer | async)?.city }} - {{ (customer | async)?.country }}
    </p>
    <p>Số CMND/Hộ Chiếu/Thẻ Tạm Trú: {{ (customer | async)?.id }} - Ngày Cấp: {{ (customer | async)?.issueDate }} - Ngày Hết Hạn: {{ (customer
      | async)?.expirationDate }} </p>
    <p>Nơi Cấp: {{ (customer | async)?.issueCity }} - {{ (customer | async)?.issueCountry }} </p>
      <p>Nhận Phòng Lúc: {{ (order | async)?.checkInTime }}</p>
      <p>Thời gian đã ở : {{ day }} ngày, {{ hour }} giờ, and {{ minutes }} phút
        <table class="ui teal table">
          <thead>
            <tr>
              <th>Tên Dịch Vụ</th>
              <th class="right aligned">Giá</th>
              <th class="right aligned">Số Lượng/Đơn Vị</th>
              <th class="right aligned">Thành Tiền</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service of services | async; let i = index; ">
              <ng-template #other_content>
                <td>{{ service.description }}</td>
                <td class="right aligned" *ngIf="price">{{ price | number}}</td>
                <td class="right aligned" *ngIf="quantity">{{ quantity }} {{ unit }}</td>
                <td class="right aligned" *ngIf="price">{{ price * quantity | number}} <i class="ui red window close icon" (click)="remove(service.$key)"></i></td>
              </ng-template>
              <ng-container *ngIf="i > 0;else other_content">
                <td>{{ service.description }}</td>
                <td class="right aligned">{{ service.price | number}}</td>
                <td class="right aligned">{{ service.quantity }} {{ service.unit }}</td>
                <td class="right aligned">{{ service.price * service.quantity | number}} <i class="ui red window close icon" (click)="remove(service.$key)"></i></td>
              </ng-container>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th class="right aligned">
                <h4 class="ui teal header">Giảm Giá</h4>
              </th>
              <th class="right aligned">
                <div class="ui right labeled input">
                  <input type="text" placeholder="Nhập số tiền.." [(ngModel)]="discount">
                  <div class="ui basic label">
                    $
                  </div>
                </div>
              </th>
            </tr>
            <tr>
              <th></th>
              <th></th>
              <th class="right aligned">
                <h4 class="ui teal header">Tổng Cộng</h4>
              </th>
              <th class="right aligned">
                <h4 class="ui teal header" *ngIf="total">{{ total - discount | number}} VNĐ</h4>
              </th>
            </tr>
          </tfoot>
        </table>
  </modal-content>
  <modal-actions>
    <button class="ui blue button" (click)="close()">Checkout</button>
  </modal-actions>
</sm-modal>