<sm-modal title="Add Service" icon="user circle outline" #hotelServiceModal>
  <modal-content>

    <select [(ngModel)]="service" class="ui fluid search selection dropdown">
    <option *ngFor="let s of services" [ngValue]="s">{{ s.description }}</option>
  </select >
  <br/>
  <div class="ui right labeled input">
    <div class="ui label">Số Lượng</div>
    <input type="text" [(ngModel)]="service.quantity">
    <div class="ui basic label">{{ service.unit}}</div>
  </div>
  <div class="ui right labeled input">
    <div class="ui label">Giá</div>
    <input type="text" [(ngModel)]="service.price">
  </div>
  </modal-content>
  <modal-actions>
    <button class="ui blue button" (click)="add()">Thêm</button>
  </modal-actions>
</sm-modal>